@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.marquee {
  display: flex;
  width: fit-content;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee1 {
  display: flex;
  width: fit-content;
  animation: marquee 350s linear infinite;
  will-change: transform;
}

.marquee1:hover {
  animation-play-state: paused;
}

@keyframes marquee1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
